body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #03ebdc; /* Dark Blue */
    color: #0f0f0f;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #003366; /* Dark Blue */
}

.job, .school {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #02e5fa; /* Dark Blue */
    color: #060606;
    position: relative;
    bottom: 0;
    width: 100%;
}